<div class="container">
  <div class="col">
    <h1> {{title}}</h1>
    <br>
    <br>
    <form class="form-group row">
      <div class="form-group col-md-3">
        <label for="formName"> Name:</label>
        <input type="text" name="formName" id="formName" placeholder="Write a name" class="form-control" [(ngModel)]="formName">
      </div>

      <div class="form-group col-md-3">
        <label for="formLastName"> Last Name:</label>
        <input type="text" name="formLastName" id="formLastName" placeholder="Write a last name" class="form-control" [(ngModel)]="formLastName">
      </div>

      <div class="form-group col-md-3">
        <label for="formPosition"> Position:</label>
        <input type="text" name="formPosition" id="formPosition" placeholder="Write a position" class="form-control" [(ngModel)]="formPosition">
      </div>

      <div class="form-group col-md-3">
        <label for="formSalary"> Name:</label>
        <input type="number" name="formSalary" id="formSalary" class="form-control" [(ngModel)]="formSalary">
      </div>

      <div class="col">
        <input type="submit" class="btn btn-primary" (click)="addEmployee()" style="margin-top: 35px;">
      </div>
    </form>
  </div>
</div>
<br>
<br>

<app-employee-child-c *ngFor="let employee of employees; let i = index" [listEmployee] ="employee" [index] ="i">

</app-employee-child-c>